/node_modules
/public/hot
/public/storage
/public/AdminLTE-2.4.4
/storage/debugbar
/storage/*.key
/storage/geo/*.zip
/storage/logs/*.*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/bkp_db
.env*
_composer.json
local-ok.env
*.txt
phpinfo.php
/Fuentes
/.env
/temp-y-txt
/Fuentes
/bd
AGENTS.md
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore