/node_modules
/public/hot
/public/storage
/public/AdminLTE-2.4.4
/storage/*.key
/storage/geo/*.zip
/storage/logs/*.*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/bkp_db
.env-web
.env
local-ok.env
.env-web-debug
*.txt
phpinfo.php
/Fuentes
/.env
/temp-y-txt
/Fuentes